/*选择器范围越小 优先级别越高*/
/*
position:
relative:
absolute:
fixed:
*/
/*
float:相当于一个新的层 脱离文档流 当产生浮动之后,div宽度会自适应里面的内容（包裹）
比如img 需要设置vertical-align:bottom 下边框对齐 将行级元素变成块级元素;
left
right
none
clear:both; 该属性可以取消浮动 回归文档流 按需使用 也可以单独指定left right
#清楚浮动
.clearDiv::after{
    content:"";
    visibility:hidden;
    height:0px;
    display:block;
    clear:both;
}
*/

/*盒子模型
margin:; 外边距,对象和对象的距离 top right bottom left
padding:; 文字内容和边框的距离 top right bottom left
height:;
width:;
border:;
*/
body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    font-family: calibri;
}
.top-navigator{
	position: relative;
	top: 0px;
	left: 0px;
	right: 0px;
	z-index: 20;
	height: 80px;
}
.navbar{
	border-radius: 0;
}
.navbar-default{
	background-color: #1f375a;
	border-color: #172841;
}
.uni{
	height: 60px;
	width: 170px;
	top:10px;
	left: 20px;
	position: absolute;
}
.uni a{
	display: block;
	background:url("Ressourcen/uni.png") no-repeat;
	height: 60px;
	width: 170px;
}

.full-body-container{
	position: absolute;
	top: 83px;
	buttom: 0;
	left: 0;
	right: 0;
	overflow: auto;
}
.nav{
	float: left;
	width: 200px;
	position: relative;
    height: 825px;
    min-height: 550px;
    margin-top: 5px;
    background-color: #efefef;
}
.split_line{
	height: 8px;
    background-color: #1fb1d8;
}
.nav_btn:hover{
	background-color: #b5d9e3;
    color: #304090;
    transition-property: background-color, color;
    transition-duration: 1s;
    transition-timing-function: ease-out;
}
.nav_btn{
	background-color: #1f375a;
    color: white;
	text-align: left; /*文字左对齐*/
	/*line-height: 10px;*/ /*文字垂直居中*/
    font-size: 14px;
    font-weight: bold;
    padding-left: 50px;
    width: 200px;
    height: 50px;
    margin-top: 5px;
    border: none;
    transition-property: background-color, color;
    transition-duration: 1s;
    transition-timing-function: ease-in;
}
.main_body{
	margin-left: 220px;
    margin-top: 30px;
}
.chart{
	background-color: #efefef;
	height: 800px;
	width: 1050px;
	float: left;
	margin-right: 30px;
	overflow: auto;
	border: 2px solid #1f375a;
}
.result{
	background-color: #efefef;
	height: 800px;
	width: 600px;
	float: left;
	overflow: auto;
	border: 2px solid #1f375a;
}
.axis {font: 14px calibri;}
.label {font: 16px calibri;}
#footer{
	width: 100%;
    height: 60px;
    background-color: #1f375a;
    position: fixed;
    bottom: 0px;
    left: 0px;
}


/*空格选择器 footer里面的所有p 包含footer里面嵌入的其他div的p*/
#footer p {
    color: #efefef;
    text-align: center;
    font-size: 15px;
    font-family: Arial;
}
/*大于号选择器 只选择直接属于id=footer的p 因为footer当中有可能嵌套了其他div的p*/
#footer>p{

}
/*兄弟选择器 选择所有同级的div标签*/
#footer+div{

}
/*属性选择器*/
p[class="name"]{

}

/*伪元素选择器
p::before{
	content: " let's go!!"
}
p::after{
	content: " let's go!!"
}
p::selection{
	background-color: #1f375a;
}*/

